html, body{
  height: 100%;
}


table {
  border-collapse: collapse;
  max-width: 700px;
  width: 40%;
  margin: 0.5em auto;
  max-height: 50%;
}

table,
tr,
td {
  border: 1px solid black;
}

table.center {
  margin: auto;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

tr:nth-of-type(even) td:nth-of-type(odd),
tr:nth-of-type(odd) td:nth-of-type(even) {
  color: black;
  background-color: white;
}

tr:nth-of-type(even) td:nth-of-type(even),
tr:nth-of-type(odd) td:nth-of-type(odd) {
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
}

body {
  background-color: #bfb8b8;
}

.highlight {
  border: 4px solid greenyellow;
}

.coral {
  border: 4px solid lightcoral;
}

.blue {
  border: 4px solid lightblue;
}

.check {
  border: 4px solid red;
}